body {
    margin: 0;
    box-sizing: border-box;
}

.App {
  background-color: beige;
  text-align:center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input, button {
    font-size: 15px;
    margin: 2px;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid black;
}

input[type=text] {
    width: 150px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }

input[type=text]:focus {
    width: 250px;
}

#btn, #back-btn {
    border: 2px solid rgb(39, 37, 37);
    background-color: rgb(173, 93, 93);
    font-size: 20px;
    font-weight: 600;
}

#btn:hover, #back-btn:hover {
    cursor: pointer;
    background-color: rgb(228, 213, 207);
}

#back-btn {
    padding: 0 20px;
} 

i {
    padding-left: 20px;
}

.clicked-img {
    border: 2px solid black !important; 
    width: 230px !important;
    height: 300px !important;
}

.meme-container img {
    width: 200px;
    height: 270px;
    border: #000 1px solid;
    cursor: pointer;
    margin: 2px;
}

.meme {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

